# =========================
# PYTHON
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd

# =========================
# VIRTUAL ENVIRONMENT
# =========================
venv/
.env

# =========================
# OS FILES
# =========================
.DS_Store
Thumbs.db

# =========================
# VS CODE
# =========================
.vscode/

# =========================
# LOG FILES
# =========================
*.log

# =========================
# DATABASE (OPTIONAL)
# =========================
*.db
*.sqlite3

# =========================
# SECRET FILES
# =========================
.env